/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-background: #f5f4f2;
  --color-foreground: #1a1a1a;

  --color-border: #e2e0db;
  --color-input: #eeede9;

  --color-primary: #2563eb;
  --color-secondary: #e8e6e1;
  --color-primary-foreground: #ffffff;
  --color-secondary-foreground: #3d3b36;

  --color-muted: #e8e6e1;
  --color-muted-foreground: #8a8780;

  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;

  --color-sidebar: #faf9f7;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Asimovian', sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-primary overflow-x-hidden;
  }

  /* Dark mode */
  html[data-theme='dark'] {
    /* Sfondo totale della pagina (Nero profondo) */
    --color-background: #121212;

    /* Il testo principale diventa chiaro */
    --color-foreground: #f5f4f2;
    --color-sidebar: #181715;

    /* Elementi di interazione (Bordi e Input) */
    --color-border: #2d2b26;
    --color-input: #1a1917;

    /* Il blu dei bottoni "Risolvi" o "Invia" */
    --color-primary: #3b82f6;

    /* --- IL TRUCCO MAGICO PER LE TUE CARD --- */
    /* Nel light mode era bianco (#ffffff). Nel dark mode lo facciamo diventare un grigio card spettacolare! */
    --color-primary-foreground: #1a1917;

    /* Brand Secondary e Muted */
    --color-secondary: #262421;
    /* Testo dentro le card che usa il foreground secondario */
    --color-secondary-foreground: #e8e6e1;
    --color-muted: #262421;
    --color-muted-foreground: #a19e95;

    /* Stati e Notifiche adattati al buio */
    --color-success: #4ade80;
    --color-warning: #fef08a;
    /* Il tuo bottone "Cancella" usa bg-error, lo rendiamo un rosso scuro opaco perfetto per il dark */
    --color-error: #ef4444;
  }

  html {
    @apply antialiased scroll-smooth;
  }

  img {
    @apply block max-w-full h-auto select-none;
  }

  a {
    @apply text-inherit no-underline hover:underline;
  }

  button,
  input {
    @apply bg-transparent border-none outline-none;
  }

  button {
    @apply cursor-pointer;
  }

  ul {
    @apply list-none;
  }
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
